<!doctype html>
<html lang="pt-br">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Lista de tarefas</title>
  <style type="text/css">
    .concluido {
      color: #ccc;
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-5 col-12 ">
        <h1>Cadastro de tarefas</h1>

        <form class="form-inline text-center" v-on:submit.prevent="OK">
          <input v-model="form" type="text" name="tarefa" class="form-control mr-2" placeholder="Tarefa">
          <input  type="submit" value="OK" class="btn btn-primary">
        </form>
      </div><!-- .col-md-4.col-12 -->
    </div><!-- .row -->

    <div class="row mt-5">
      <div class="col-12">
        <h1>Lista de tarefas</h1>
        <ul class="list-group">
          <!-- item da lista -->
          <li v-for="(item, id) in tarefas" v-bind:class="{ concluido: item.isConcluido }" class="list-group-item">{{item.tarefa}}
            <span class="float-right">
              <button v-on:click="excluir(id)" v-model="item.id" type="button" class="btn btn-danger"> Excluir</button>
            </span>
            <span class="float-right">
              <input v-model="item.isConcluido" type="checkbox" >
            </span>
          </li>
        </ul><!-- .list-group -->
      </div><!-- .col-12 -->
    </div><!-- .row -->
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script type="text/javascript" src="js/tarefa1.js"></script>
</body>
</html>